body {
    background-color: black;
    font-family:Arial;
    background-image: url("");
}

*{
    padding: 0px;
    margin: 0px;
}

#header{
    margin:auto;
    width:500px;
    font-family:'Times New Roman', Times, serif;
}

ul,ol{
    list-style:none;
}

.nav li a{
    background-color:black;
    color:white;
    text-decoration:none;
    padding: 10px 15px;
    display:block;
}

.nav li a:hover {
    background-color:gray;
}
.nav >li{
    float:left;
}

.nav li ul{
    display:none;
    position:absolute;
    min-width:140px;
}

.nav li:hover > ul{
    display:block;
}

.nav li ul li{
    position:relative;
}

.nav li ul li ul{
    top:0px;
    right:-194px;
}